@charset "utf-8";
/* eyoucms.com 易优CMS -- 好用,免费,安全 */
/* CSS Document */
/* 头部 */
.top-t{ background:#8f2100;}
.t-ico{ background:url(../img/ico-bg.jpg) no-repeat;}

/* 导航 */
.menu-box{ background:#ae2900; border-bottom:3px solid #8f2100;}
.nav .nLi h3{}
.nav .sub{ background:#ae2900;}
.nav .nLi h3 a:hover,.nav .nLi h3 a.cur{ background:#ff9300;}
.nav .sub li{ border-top:1px solid #8f2100;}
.nav .sub a:hover{ background:#6d6d6d;}

/* banner */
.banner-box .dn ul .on{ background:#ff9300;}

/* 搜索 */
.ss-r .go{ background:url(../img/fdj.png) #ae2800 no-repeat;}

/* 关于我们 */
.us-tit{ background:url(../img/ustit-red.jpg) left no-repeat;}
.us-more a{ background:#ae2900;}

/* 新闻动态 */
.ne-box .hd{ border:2px solid #ae2900;}
.ne-box .hd li{ border-right:2px solid #ae2900;}
.ne-box .hd li.on{ color:#fff; background:#ae2900; cursor:pointer;}

/* 联系我们 */
.lx-r{ background:url(../img/lx-bg-red.jpg) no-repeat;}
.lx-ico{ background:url(../img/lx-ico.png) left no-repeat;}
.lx-an a{ color:#fff; background:#ff9300;}
.lx-an a:hover{ color:#fff; background:#ffba14;}

/* 产品展示 */
.fl-tit{ color:#fff;}
.fl-con{ border:2px solid #ff9300;}
.fl-con li a{ color:#000; background:#ececec;}
.fl-con li a:hover{ color:#fff; background:#ae2900;}
.cp-more a{ color:#fff; background:#ae2900; display:block;}
.cp-more a:hover{ color:#fff; background:#ff9300;}
.cp-con li .c-tit a{ color:#000; background:#ececec; display:block;}
.cp-con li .c-tit a:hover{ color:#fff; background:#ae2900;}

/* 案例展示 */
.al-con .next{ background:url(../img/jt-l-red.jpg) no-repeat;}
.al-con .prev{ background:url(../img/jt-r-red.jpg) no-repeat;}

/* 底部 */
.link-box{ background:#8f2100;}
.foot-con{ background:#ae2900;}
.foot-menu{ background:#8f2100;}
.foot-menu-con li{ background:url(../img/foot-fgx.png) center right no-repeat;}
.foot-r{ border-left:1px solid #8f2100; border-right:1px solid #8f2100;}

/* 漂浮 */
.fixed-right-nav a:hover{ background:#8f2100;}

.lb-tit{ color:#fff; background:#ff9300;}
.er-fl li a:hover{ color:#fff; background:#274f7d; text-decoration:none;}
.pageListNav a:hover{ background:#8f2100; border:1px solid #8f2100;}

.n-fl{ border:2px solid #ff9300;}
.n-fl li a{ color:#000; background:#ececec;}
.n-fl li a:hover{ color:#fff; background:#8f2100;}

.n-lx{ background:url(../img/nlx-bg-red.jpg) no-repeat;}
.n-lx-ico{ background:url(../img/lx-ico.png) left bottom no-repeat;}
.n-lx-an a{ color:#fff; background:#ff9300;}
.n-lx-an a:hover{ color:#fff; background:#ffba14;}