<ul class="foc clearfix">
    <li><a href="tel:{eyou:global name='web_attr_2' /}"> <span class="bthome iconfont">&#xe64c;</span>
      <p>在线咨询</p>
      </a></li>
    <li><a href="sms:{eyou:global name='web_attr_60' /}"> <span class="btfl iconfont">&#xe685;</span>
      <p>短信预约</p>
      </a></li>
      {eyou:type typeid='15'}
    <li><a href="{$field.typeurl}"> <span class="btcar iconfont">&#xe606;</span>
      <p>{$field.typename}</p>
      </a></li>
      {/eyou:type}
    <li><a href="{eyou:global name='web_cmsurl' /}/"> <span class="btmenber iconfont">&#xe605;</span>
      <p>返回首页</p>
      </a></li>
  </ul>
  {eyou:global name='web_thirdcode_wap' /} 
  <!-- 应用插件标签 start --> 
  {eyou:weapp type='default' /} 
  <!-- 应用插件标签 end -->
