<div class="foot-box">
  <div class="link-box">
    <div class="link-con">
      <h3>友情链接：</h3>
       {eyou:flink titlelen='45' type='1'}<a href="{$field.url}" {$field.target}>{$field.title}</a>{/eyou:flink}
    </div>
  </div>
  <div class="foot-con">
    <div class="foot-cc">
      <div class="foot-l">
        <div class="foot-menu">
          <div class="foot-menu-con">
            <ul>
              <li><a href="{eyou:global name='web_cmsurl' /}/">网站首页</a></li>
              {eyou:channel type="top" row="8" id="field" }
              <li><a href="{$field.typeurl}">{$field.typename}</a></li>
              {/eyou:channel} 
            </ul>
          </div>
        </div>
        <div class="foot-wz">{eyou:global name='web_copyright' /}<br>
          电 话：{eyou:global name='web_attr_2' /} &nbsp;&nbsp;  手 机：{eyou:global name='web_attr_60' /}&nbsp;&nbsp;   传 真：{eyou:global name='web_attr_57' /} &nbsp;&nbsp;  E-mail：{eyou:global name='web_attr_55' /}<br>
          地 址：{eyou:global name='web_attr_56' /}<br>
          {eyou:global name='web_recordnum' /}</div>
      </div>
      <div class="foot-r">
        <p>扫一扫关注微信公众帐号</p>
        <img src="{eyou:global name='web_attr_4' /}" width="97" height="97" alt=""/> </div>
    </div>
  </div>
</div>
    {eyou:global name='web_thirdcode_pc' /} 
    <!-- 应用插件标签 start --> 
    {eyou:weapp type='default' /} 
    <!-- 应用插件标签 end -->
<div class="fixed-right-nav"> 
<a href="javascript:window.scroll(0,0)" class="backtop"><i></i></a> 
<a href="http://wpa.qq.com/msgrd?v=3&site={eyou:global name="web_name" /}&menu=yes&uin={eyou:global name='web_attr_3' /}" target="_blank" class="msg"><i></i>免费咨询</a> 
<a href="{eyou:type typeid='53'}{$field.typeurl}{/eyou:type}" target="_blank" class="decora"><i></i>投诉建议</a> 
<a class="qrcode"><i></i>
  <div class="qrcodePic"><img width="150" height="150" src="{eyou:global name='web_attr_4' /}"></div>
  </a> </div>