<div class="footer"  e-page="footer">
  <ul class="container f_nav">
    <li class="cur"><a href="{eyou:global name='web_cmsurl' /}/">首页</a></li>
    {eyou:channel type='top'}
    <li><a href="{$field.typeurl}">{$field.typename}</a></li>
    {/eyou:channel}
  </ul>
  <div class="f_btm container">
    <dl>
      <dt class="eyou-edit" e-id="f1" e-type="upload"> <a href="{eyou:global name='web_cmsurl' /}/"> {eyou:uiupload e-id='f1' e-page="footer"}
        {$field.value}
        {eyou:else /} <a href="{eyou:global name='web_cmsurl' /}/"><img src="{eyou:global name='web_attr_4' /}" width="85" height="99" /></a> {/eyou:uiupload}</dt>
      <dd>
        <p class="phone eyou-edit" e-id="f2" e-type="text"> {eyou:uitext e-id='f2' e-page="footer"}
          {$field.value}
          {eyou:else /}{eyou:global name='web_name' /}<em></em> 公司地址：{eyou:global name='web_attr_5' /} {/eyou:uitext}</p>
        <p class="phone eyou-edit" e-id="f3" e-type="text"> {eyou:uitext e-id='f3' e-page="footer"}
          {$field.value}
          {eyou:else /}电话：{eyou:global name='web_attr_1' /} / {eyou:global name='web_attr_6' /}<em></em>传真：{eyou:global name='web_attr_7' /}{/eyou:uitext}</p>
        <p class="phone eyou-edit" e-id="f4" e-type="text">  {eyou:uitext e-id='f4' e-page="footer"}
          {$field.value}
          {eyou:else /}企业邮箱：{eyou:global name='web_attr_8' /}{/eyou:uitext}</p>
        <p></p>
        <p>{eyou:global name='web_copyright' /}</p>
        <p>{eyou:global name='web_recordnum' /}</p>
      </dd>
    </dl>
    <div class="ewm eyou-edit" e-id="181" e-type="upload"> 
    {eyou:uiupload e-id='f5' e-page="footer"}
      {$field.value}
      {eyou:else /} 
      <img src="{eyou:global name='web_attr_9' /}" width="120" height="120">
    {/eyou:uiupload}
      <p>扫描关注</p>
    </div>
  </div>
</div>
<div class="rtTop">
  <h4><img src="{eyou:global name='web_templets_pc' /}/skin/img/backbg.png" width="43" height="86" alt="回顶部" title="回顶部" /></h4>
</div>
{eyou:global name='web_thirdcode_pc' /} 
<!-- 应用插件标签 start --> 
{eyou:weapp type='default' /} 
<!-- 应用插件标签 end -->
