<style>
  .logo-box-c {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    height: 130px;
  }
  .lang-c {
    position: relative;
    top: 35px;
  }
  .lang-c img {
    margin-top: 4px;
    margin-right: 2px;
  }
  .eyou-edit2 {
    margin-top: 30px!important;
  }
</style>
<div class="header" e-page="header">
  <div class="headerTop container logo-box-c">
    <h1 class="eyou-edit eyou-edit2" e-id="h1" e-type="upload"> <a href="{eyou:global name='web_cmsurl' /}/"> {eyou:uiupload e-id='h1' e-page="header"}
      {$field.value}
      {eyou:else /} <img src="{eyou:global name='web_logo' /}"  alt="{eyou:global name="web_name" /}" >{/eyou:uiupload}</a></h1>
    <div class="lang-c">
      {eyou:language }
      <a href="{$field.url}"><img src="{$field.logo}" alt="{$field.title}"><span>{$field.title}</span></a>
      {/eyou:language}
    </div>
  </div>

</div>
<div class="headerNav">
  <ul class="container nav">
    <li {eyou:eq name='$Think.const.CONTROLLER_NAME' value='Index'}class="cur"{/eyou:eq}><a href="{eyou:global name='web_cmsurl' /}/">首页</a></li>
    {eyou:channel type='top' currentstyle='cur'}
    <li class="{$field.currentstyle}"><a href="{$field.typeurl}">{$field.typename}</a></li>
    {/eyou:channel}
  </ul>
</div>
</div>
