<div class="header" e-page="header">
  <div class="headerTop container">
    <div class="logo-box">
      <a href="{eyou:global name='web_cmsurl' /}/" title="{eyou:global name="web_name" /}">
      <img src="{eyou:global name="web_logo" /}"
      alt="{eyou:global name="web_name" /}" />
      </a>
    </div>
    <div>
      {eyou:language }
      <a href="{$field.url}"><img src="{$field.logo}" alt="{$field.title}">{$field.title}</a>
      {/eyou:language}
    </div>
    <h1 class="eyou-edit" e-id="h1" e-type="upload"> <a href="{eyou:global name='web_cmsurl' /}/"> {eyou:uiupload e-id='h1' e-page="header"}
      {$field.value}
      {eyou:else /} <img src="{eyou:global name="web_logo" /}"  alt="{eyou:global name="web_name" /}" >{/eyou:uiupload}</a></h1>
    <div class="wen"> </div>
    <div class="headRight">
      <ul>
        <li><a href="javascript:addBookmark();">收藏本站</a></li>
        <li class="eyou-edit" e-id="h2" e-type="type">{eyou:uitype typeid='23' e-id='h2' e-page='header'}{eyou:type type='self' empty='缺省文字'}<a href="{$field.typeurl}">{$field.typename}</a>{/eyou:type}{/eyou:uitype}</li>
        <li class="last eyou-edit" e-id="h3" e-type="type" >{eyou:uitype typeid='24' e-id='h3' e-page='header'}{eyou:type type='self' empty='缺省文字'}<a href="{$field.typeurl}">{$field.typename}</a>{/eyou:type}{/eyou:uitype} </li>
      </ul>
      <div class="clear"></div>
      <div class="phone eyou-edit" e-id="h4" e-type="text">
      {eyou:uitext e-id='h4' e-page="header"}
      {$field.value}
      {eyou:else /}
      <p>全国加盟咨询热线：</p>
      <h3>{eyou:global name='web_attr_1' /}</h3>
      {/eyou:uitext} </div>
  </div>
</div>
<div class="headerNav">
  <ul class="container nav">
    <li {eyou:eq name='$Think.const.CONTROLLER_NAME' value='Index'}class="cur"{/eyou:eq}><a href="{eyou:global name='web_cmsurl' /}/">首页</a></li>
    {eyou:channel type='top' currentstyle='cur'}
    <li class="{$field.currentstyle}"><a href="{$field.typeurl}">{$field.typename}</a></li>
    {/eyou:channel}
  </ul>
</div>
</div>
