<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta name="renderer" content="webkit" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{eyou:global name='web_title' /}</title>
<meta name="description" content="{eyou:global name='web_description' /}" />
<meta name="keywords" content="{eyou:global name='web_keywords' /}" />
<link href="{eyou:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href="{eyou:global name='web_templets_pc' /}/skin/css/common.css" rel="stylesheet" type="text/css" />
<link href="{eyou:global name='web_templets_pc' /}/skin/css/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
{eyou:include file="header.htm" /}
<main  e-page="index">
<div id="flashs">
  <div class="bd">
    <div class="banerer"> {eyou:adv pid='1' }
      <div title="{$field.title}" alt="{$field.title}" onclick="window.open('{$field.links}')"  class="bgitem eyou-edit" id="{$key}" style="background: url('{$field.litpic}') no-repeat scroll center top; height: 600px; width: 100%; cursor: pointer; margin: 0 auto;" e-id="{$field.id}" e-type="adv"> </div>
      {/eyou:adv} </div>
  </div>
  <div class="btn hd"> {eyou:adv pid='1' }<span>{$i}</span>{/eyou:adv}</div>
</div>

<!--search-->
<div class="search container">
  <p id="commonHeaderkeywords"> <b>热门关键词：</b>{eyou:arclist row='5' titlelen='30' typeid='2' orderby ='click'} <a href="{$field.typeurl}" title="{$field.title}"> {$field.title} </a> {/eyou:arclist} </p>
  <div class="sBox">
    <form name="search" class="sidebar-search" method="get" action="{eyou:searchurl /}">
      <input type="hidden" name="channel" value="" />
      <input type="hidden" name="typeid" value="" />
      <input type="hidden" name="uiset" value="{$Request.param.uiset}" />
      <input type="hidden" name="v" value="{$Request.param.v}" />
      <input type="text" value="输入关键词查询" id="keywords" name="keywords" onfocus="if(this.value=='输入关键词查询'){this.value=''}"
                                onblur="if(this.value=='')this.value='输入关键词查询'" />
      <a href="javascript:document.search.submit();"></a>
    </form>
  </div>
</div>
<!--规模-->
<div class="guimo">
  <h3 class="eyou-edit" e-id="101" e-type="text"> {eyou:uitext e-id='101' e-page="index"}
    {$field.value}
    {eyou:else /}
    涂料市场规模3000亿
    {/eyou:uitext} </h3>
  <em></em>
  <p class="eyou-edit" e-id="102" e-type="text"> {eyou:uitext e-id='102' e-page="index"}
    {$field.value}
    {eyou:else /}
    我们和你一起掘金！
    {/eyou:uitext} </p>
  <dl class="container">
    <dt class="eyou-edit" e-id="103" e-type="upload"> {eyou:uiupload e-id='103' e-page="index"}
      {$field.value}
      {eyou:else /} <img src="{eyou:global name='web_templets_pc' /}/skin/img/guimo.jpg" width="460" height="384"> {/eyou:uiupload} </dt>
    <dd class="eyou-edit" e-id="104" e-type="text"> {eyou:uitext e-id='104' e-page="index"}
      {$field.value}
      {eyou:else /}
      <p>2013年全球涂料总销量达到4175万吨，在过去的十年里，<br>
        平均每年上涨5.4%。</p>
      <p>2013年全球涂料行业销售额达到1273亿美元，同比增长6.1%。</p>
      <p>2014 年涂料终端市场分布：10 亿美元。 </p>
      <p><b>中国涂料行业的规模大约为2800-3000 亿元。</b></p>
      {/eyou:uitext} </dd>
  </dl>
</div>
<div class="shidai">
  <h4 class="eyou-edit" e-id="105" e-type="text"> {eyou:uitext e-id='105' e-page="index"}
    {$field.value}
    {eyou:else /}
    中国涂料工业成跨越式发展
    {/eyou:uitext} </h4>
  <h3 class="eyou-edit" e-id="106" e-type="text"> {eyou:uitext e-id='106' e-page="index"}
    {$field.value}
    {eyou:else /}
    涂料家装行业<b>5.0时代已经到来</b> {/eyou:uitext} </h3>
  <p><img src="{eyou:global name='web_templets_pc' /}/skin/img/shidai02.png">
    <c class="eyou-edit" e-id="107" e-type="text"> {eyou:uitext e-id='107' e-page="index"}
      {$field.value}
      {eyou:else /}
      一个巨大的市场商机已诞生，你是否已经察觉？ 
      {/eyou:uitext} </c>
    <img src="{eyou:global name='web_templets_pc' /}/skin/img/shidai02.png"></p>
  <ul>
    <li class="li01 eyou-edit" {eyou:ad aid='10'}style="background: url({$field.litpic}) no-repeat center bottom" e-id="{$field.id}" e-type="adv"{/eyou:ad}>
      <h5 class="eyou-edit" e-id="108" e-type="text">{eyou:uitext e-id='108' e-page="index"}
        {$field.value}
        {eyou:else /}1.0 时代 - 石灰 {/eyou:uitext}</h5>
      <p class="eyou-edit" e-id="109" e-type="text">{eyou:uitext e-id='109' e-page="index"}
        {$field.value}
        {eyou:else /}市场早已淘汰，没人做，无利可图{/eyou:uitext}</p>
    </li>
    <li class="li02 eyou-edit" {eyou:ad aid='11'}style="background: url({$field.litpic}) no-repeat center bottom" e-id="{$field.id}" e-type="adv"{/eyou:ad}>
      <h5 class="eyou-edit" e-id="110" e-type="text">{eyou:uitext e-id='110' e-page="index"}
        {$field.value}
        {eyou:else /}2.0 时代 - 家装壁纸{/eyou:uitext}</h5>
      <p class="eyou-edit" e-id="111" e-type="text">{eyou:uitext e-id='111' e-page="index"}
        {$field.value}
        {eyou:else /}品牌多，利润低，逐渐被消费者舍弃{/eyou:uitext}</p>
    </li>
    <li class="li03 eyou-edit" {eyou:ad aid='12'}style="background: url({$field.litpic}) no-repeat center bottom" e-id="{$field.id}" e-type="adv"{/eyou:ad}>
      <h5 class="eyou-edit" e-id="112" e-type="text">{eyou:uitext e-id='112' e-page="index"}
        {$field.value}
        {eyou:else /}3.0 时代 - 乳胶漆{/eyou:uitext}</h5>
      <p class="eyou-edit" e-id="113" e-type="text">{eyou:uitext e-id='113' e-page="index"}
        {$field.value}
        {eyou:else /}市场乱，品牌多，竞争激烈，不环保{/eyou:uitext}</p>
    </li>
    <li class="li04 eyou-edit" {eyou:ad aid='13'}style="background: url({$field.litpic}) no-repeat center bottom" e-id="{$field.id}" e-type="adv"{/eyou:ad}>
      <h5 class="eyou-edit" e-id="114" e-type="text">{eyou:uitext e-id='114' e-page="index"}
        {$field.value}
        {eyou:else /}4.0 时代 - 硅藻泥{/eyou:uitext}</h5>
      <p class="eyou-edit" e-id="115" e-type="text">{eyou:uitext e-id='115' e-page="index"}
        {$field.value}
        {eyou:else /}品牌乱，品质良莠不齐市场价格昂贵{/eyou:uitext}</p>
    </li>
    <li class="li05 eyou-edit" {eyou:ad aid='14'}style="background: url({$field.litpic}) no-repeat center bottom" e-id="{$field.id}" e-type="adv"{/eyou:ad}>
      <h5 class="eyou-edit" e-id="116" e-type="text">{eyou:uitext e-id='116' e-page="index"}
        {$field.value}
        {eyou:else /}5.0 时代<br>
        贝壳粉涂料{/eyou:uitext}</h5>
      <p class="eyou-edit" e-id="117" e-type="text">{eyou:uitext e-id='117' e-page="index"}
        {$field.value}
        {eyou:else /}新兴行业，竞争少，安全更环保，备受消费者青睐！{/eyou:uitext}</p>
    </li>
  </ul>
</div>
<div class="qianli">
  <h4 class="eyou-edit" e-id="118" e-type="text"> {eyou:uitext e-id='118' e-page="index"}{$field.value}
    {eyou:else /}深度剖析涂料市场{/eyou:uitext}</h4>
  <h3 class="eyou-edit" e-id="119" e-type="text"> {eyou:uitext e-id='119' e-page="index"}{$field.value}
    {eyou:else /}贝壳粉接管涂料大市场，潜力无限{/eyou:uitext}</h3>
  <p class="eyou-edit" e-id="120" e-type="text"> {eyou:uitext e-id='120' e-page="index"}{$field.value}
    {eyou:else /}贝壳粉一上市就引爆市场热潮，占领涂料行业半壁江山{/eyou:uitext}</p>
  <div class="container qlWen eyou-edit" {eyou:ad aid='9'}style="background: url({$field.litpic}) no-repeat center top;" e-id="{$field.id}" e-type="adv"{/eyou:ad}>
    <div class="wen eyou-edit" e-id="121" e-type="text"> {eyou:uitext e-id='121' e-page="index"}{$field.value}
      {eyou:else /}
      <h5><b>环保是国策</b>，大力发展循环经济，发展环保</h5>
      <p>“十二五”提出注重“高性能绿色环保涂料”和“以可再生资源为原料的涂料”<em>的开发和利用。贝壳粉无污染</em>、零排放的创新型生态涂料，完全符合。</p>
      <h5>市场有需求，规模宏大，<b>前景广阔</b></h5>
      <p>据统计，现代人平均90%时间在室内，室内空气污染98%源自装修材料！且现代消费者，更趋向于健康、实用、时尚化的涂料</p>
      <h5>贝壳粉行业正处市场导入期，是投资加盟最好时期</h5>
      <p>贝壳粉在我国的市场占有率不足10%，贝壳粉市场以每年30%的速度递增，市场空间潜力无穷。</p>
      {/eyou:uitext} </div>
    <div class="clear"></div>
    <span class="eyou-edit" e-id="122" e-type="text"> {eyou:uitext e-id='122' e-page="index"}{$field.value}
    {eyou:else /}
    贝壳粉涂料，现代家具装饰<b>装修最好的选择！</b> {/eyou:uitext} </span>
    <p class="eyou-edit" e-id="123" e-type="text"> {eyou:uitext e-id='123' e-page="index"}{$field.value}
      {eyou:else /}只要把握住机遇，巨额财富就会属于您{/eyou:uitext}</p>
  </div>
</div>
<!--优势-->
<div class="youshi eyou-edit" {eyou:ad aid='15'}style="background: url({$field.litpic}) no-repeat center top;" e-id="{$field.id}" e-type="adv"{/eyou:ad}>
  <h3 class="eyou-edit" e-id="124" e-type="text"> {eyou:uitext e-id='124' e-page="index"}{$field.value}
    {eyou:else /} <em>贝壳粉涂料产品<b>绝佳优势</b></em><br>
    <span><b>完胜市场多款</b>传统涂料产品</span> {/eyou:uitext}</h3>
  <div class="ysContent">
    <div class="ysLeft ysf">
      <div class="eyou-edit" e-id="125" e-type="text"> {eyou:uitext e-id='125' e-page="index"}{$field.value}
        {eyou:else /}
        <h4>贝壳粉</h4>
        <span>比乳胶漆更环保</span>
        <p><b>以挖掘石油资源、砍伐森林为代价，</b>破坏自然生态平衡，涂刷上墙凝固过程中挥发有毒气体。</p>
        {/eyou:uitext}</div>
      <div class="img eyou-edit" e-id="186" e-type="upload"> {eyou:uiupload e-id='186' e-page="index"}
        {$field.value}
        {eyou:else /} <img src="{eyou:global name='web_templets_pc' /}/skin/img/ys_r.jpg" width="213" height="142">{/eyou:uiupload} </div>
    </div>
    <div class="ysBox">
      <h5 class="eyou-edit" e-id="126" e-type="text"> {eyou:uitext e-id='126' e-page="index"}{$field.value}
        {eyou:else /}贝壳粉生态涂料的独有优势{/eyou:uitext}</h5>
      <div id="ysList">
        <div class="ysList">
          <div class="bd">
            <ul>
              <li > 
              <div class="eyou-edit" e-id="193" e-type="upload">
              {eyou:uiupload e-id='193' e-page="index"}
                {$field.value}
                {eyou:else /} 
                <img src="{eyou:global name='web_templets_pc' /}/skin/img/20160531104621_23753.jpg" width="478" height="235"  />
                {/eyou:uiupload}
                </div>
                <dl>
                  <dt>01 </dt>
                  <dd>
                    <h4 class="eyou-edit" e-id="194" e-type="text"> {eyou:uitext e-id='194' e-page="index"}{$field.value}
                      {eyou:else /}安全耐用，维护简单，艺术与奢华的结合{/eyou:uitext}</h4>
                    <p class="eyou-edit" e-id="195" e-type="text"> {eyou:uitext e-id='195' e-page="index"}{$field.value}
                      {eyou:else /}成品耐腐蚀，耐酸碱，防霉、防潮，防火阻燃等级高；装饰艺术效果逼真；一擦一抹光洁如新{/eyou:uitext}</p>
                  </dd>
                </dl>
              </li>
              <li>
              <div class="eyou-edit" e-id="196" e-type="upload">
               {eyou:uiupload e-id='196' e-page="index"}
                {$field.value}
                {eyou:else /} 
                <img src="{eyou:global name='web_templets_pc' /}/skin/img/20160514155641_83878.jpg" width="478" height="235"  />
                {/eyou:uiupload}
                </div>
                <dl>
                  <dt>02 </dt>
                  <dd>
                    <h4 class="eyou-edit" e-id="197" e-type="text"> {eyou:uitext e-id='197' e-page="index"}{$field.value}
                      {eyou:else /}超强吸附有害物质，居家健康第一选择{/eyou:uitext}</h4>
                    <p class="eyou-edit" e-id="198" e-type="text"> {eyou:uitext e-id='198' e-page="index"}{$field.value}
                      {eyou:else /}不含对人体有害的物质，分解、吸附空气中的有害物质，最大化降低装修对健康的损害{/eyou:uitext}</p>
                  </dd>
                </dl>
              </li>
              <li>
              <div class="eyou-edit" e-id="199" e-type="upload">
              {eyou:uiupload e-id='199' e-page="index"}
                {$field.value}
                {eyou:else /} 
                <img src="{eyou:global name='web_templets_pc' /}/skin/img/20160514155220_21139.jpg" width="478" height="235"  />
                {/eyou:uiupload}
                </div>
                <dl>
                  <dt>03 </dt>
                  <dd>
                    <h4 class="eyou-edit" e-id="200" e-type="text"> {eyou:uitext e-id='200' e-page="index"}{$field.value}
                      {eyou:else /}低成本经济，施工更便捷{/eyou:uitext}</h4>
                    <p class="eyou-edit" e-id="201" e-type="text"> {eyou:uitext e-id='201' e-page="index"}{$field.value}
                      {eyou:else /}精细干粉状的贝壳粉涂料，无需任何配置，可直接在毛坯上刷涂料，省钱、省时、省力{/eyou:uitext}</p>
                  </dd>
                </dl>
              </li>
              <li>
              <div class="eyou-edit" e-id="202" e-type="upload">
              {eyou:uiupload e-id='202' e-page="index"}
                {$field.value}
                {eyou:else /} 
                <img src="{eyou:global name='web_templets_pc' /}/skin/img/20160531104600_32408.jpg" width="478" height="235"  />
                {/eyou:uiupload}
               </div> 
                <dl>
                  <dt>04 </dt>
                  <dd>
                    <h4 class="eyou-edit" e-id="203" e-type="text"> {eyou:uitext e-id='203' e-page="index"}{$field.value}
                      {eyou:else /}新型环保的干粉性涂料，更环保{/eyou:uitext}</h4>
                    <p class="eyou-edit" e-id="204" e-type="text"> {eyou:uitext e-id='204' e-page="index"}{$field.value}
                      {eyou:else /}取材天然优质贝壳，既保护自然资源又解决无处堆放的大量贝壳垃圾{/eyou:uitext}</p>
                  </dd>
                </dl>
              </li>
            </ul>
          </div>
        </div>
        <div class="hd">
          <div class="btn"><span></span><span></span><span></span><span></span></div>
        </div>
      </div>
    </div>
    <div class="ysRight ysf">
      <div class="eyou-edit" e-id="127" e-type="text"> {eyou:uitext e-id='127' e-page="index"}{$field.value}
        {eyou:else /}
        <h4>贝壳粉</h4>
        <span>比硅藻泥更实惠</span>
        <p><b>硅藻泥以不可再生的硅质岩石为原料</b>，价格昂贵；不少品牌为了降低成本而掺入了白水泥和胶质物</p>
        {/eyou:uitext}</div>
      <div class="img eyou-edit" e-id="187" e-type="upload"> {eyou:uiupload e-id='187' e-page="index"}
        {$field.value}
        {eyou:else /} <img src="{eyou:global name='web_templets_pc' /}/skin/img/ys_l.jpg" width="213" height="142">{/eyou:uiupload} </div>
    </div>
  </div>
</div>
<div class="kunrao container eyou-edit" {eyou:ad aid='16'}style="background: url({$field.litpic}) no-repeat center bottom;" e-id="{$field.id}" e-type="adv"{/eyou:ad}>
  <p class="eyou-edit" e-id="128" e-type="text"> {eyou:uitext e-id='128' e-page="index"}{$field.value}
    {eyou:else /}
    现在市面上也有很多贝壳粉涂料品牌在大肆宣传{/eyou:uitext}</p>
  <h4 class="eyou-edit" e-id="129" e-type="text"> {eyou:uitext e-id='129' e-page="index"}{$field.value}
    {eyou:else /}
    在选择做哪家贝壳粉来代理时{/eyou:uitext}</h4>
  <h3 class="eyou-edit" e-id="130" e-type="text"> {eyou:uitext e-id='130' e-page="index"}{$field.value}
    {eyou:else /}
    你是否正在被这些问题所<b>困扰？</b>{/eyou:uitext}</h3>
  <span class="s01 eyou-edit" e-id="131" e-type="text" style="position: absolute;"> {eyou:uitext e-id='131' e-page="index"}{$field.value}
  {eyou:else /} <b>没资金</b>担心加盟要求高？{/eyou:uitext}</span> <span class="s02 eyou-edit" e-id="132" e-type="text" style="position: absolute;"> {eyou:uitext e-id='132' e-page="index"}{$field.value}
  {eyou:else /} <b>怕亏本</b>担心卖不出产品？{/eyou:uitext}</span> <span class="s03 eyou-edit" e-id="133" e-type="text" style="position: absolute;"> {eyou:uitext e-id='133' e-page="index"}{$field.value}
  {eyou:else /} <b>怕没经验</b>不知道怎么下手？{/eyou:uitext}</span> <span class="s04 eyou-edit" e-id="134" e-type="text" style="position: absolute;"> {eyou:uitext e-id='134' e-page="index"}{$field.value}
  {eyou:else /} <b>怕没扶持</b>担心得不到支持？{/eyou:uitext}</span> <span class="s05 eyou-edit" e-id="135" e-type="text" style="position: absolute;"> {eyou:uitext e-id='135' e-page="index"}{$field.value}
  {eyou:else /} <b>不会管理</b>缺少经营方法？{/eyou:uitext}</span>
  <div class="btn"> <a href="http://wpa.qq.com/msgrd?v=3&site={eyou:global name='web_name' /}&menu=yes&uin={eyou:global name='web_attr_2' /}" target="_blank"></a>
    <p class="eyou-edit" e-id="135" e-type="text">{eyou:uitext e-id='1351' e-page="index"}{$field.value}
  {eyou:else /} 全国加盟咨询热线：<em>{eyou:global name='web_attr_1' /}</em>{/eyou:uitext}</p>
  </div>
</div>
<!--pk-->
<div class="pk"> <img src="{eyou:global name='web_templets_pc' /}/skin/img/pk_bk.png" width="286" height="289" class="bk">
  <div class="eyou-edit" e-id="136" e-type="text"> {eyou:uitext e-id='136' e-page="index"}{$field.value}
    {eyou:else /}
    <h3>要想知道哪家品牌好 还得看产品品质</h3>
    <p>我们的贝壳粉竞争力在哪里，比比就知道</p>
    {/eyou:uitext} </div>
  <div class="pkBox">
    <div id="pkContent">
      <div class="pkContent">
        <div class="bd">
          <ul>
            <li > 
            <div class="eyou-edit" e-id="137" e-type="upload">
            {eyou:uiupload e-id='137' e-page="index"}
              {$field.value}
              {eyou:else /} 
              <img src="{eyou:global name='web_templets_pc' /}/skin/img/20160531104343_54696.jpg" width="972" height="273" alt="品质对比" /> 
              {/eyou:uiupload}
             </div> 
              <p class="pleft eyou-edit" e-id="138" e-type="text"> {eyou:uitext e-id='138' e-page="index"}{$field.value}
                {eyou:else /} <b>业內唯一从原材料生产到成品</b>，清洗—高温锻烧—研磨—催化—混合—包装。自己工厂独立完成，能做到从一而终监控产品，保证产品质量！{/eyou:uitext}</p>
              <p class="pright eyou-edit" e-id="139" e-type="text"> {eyou:uitext e-id='139' e-page="index"}{$field.value}
                {eyou:else /} 同行多数是采购别人的半成品，再进行加工<b>，原材料已经被别人掺假</b>;内地工厂由于离贝壳产地遥远，只能采购别人材料，不能保证原材料系质量。{/eyou:uitext}</p>
            </li>
            <li > 
            <div class="eyou-edit" e-id="140" e-type="upload">
            {eyou:uiupload e-id='140' e-page="index"}
              {$field.value}
              {eyou:else /} 
              <img src="{eyou:global name='web_templets_pc' /}/skin/img/20160531151313_22604.jpg" width="972" height="273" alt="成分对比" /> 
              {/eyou:uiupload}
              </div> 
              <p class="pleft eyou-edit" e-id="141" e-type="text"> {eyou:uitext e-id='141' e-page="index"}{$field.value}
                {eyou:else /}我们的，<b>贝壳粉含量高，高达90%以上</b>，分解甲醛、苯、氨、VOC等有害气体的功能越强。{/eyou:uitext}</p>
              <p class="pright eyou-edit" e-id="142" e-type="text"> {eyou:uitext e-id='142' e-page="index"}{$field.value}
                {eyou:else /} 同行贝壳粉含量少，<b>添加双飞粉、石灰粉、白水泥等强碱性物质</b>，施工时会伤手，做成墙面会泛白现象。{/eyou:uitext}</p>
            </li>
            <li > 
            <div class="eyou-edit" e-id="143" e-type="upload"> 
            {eyou:uiupload e-id='143' e-page="index"}
              {$field.value}
              {eyou:else /} 
              <img src="{eyou:global name='web_templets_pc' /}/skin/img/20160531104312_63030.jpg" width="972" height="273" alt="分解能力" /> 
              {/eyou:uiupload}
             </div>  
              <p class="pleft eyou-edit" e-id="144" e-type="text"> {eyou:uitext e-id='144' e-page="index"}{$field.value}
                {eyou:else /}我们的<b>首创从竹炭中提取无机净化剂</b>，净化性能高，速度快，消除量大。纯物理吸附净化，无需加化学剂，避免生成二次污染。{/eyou:uitext}</p>
              <p class="pright eyou-edit" e-id="145" e-type="text"> {eyou:uitext e-id='145' e-page="index"}{$field.value}
                {eyou:else /} 同行采用<b>二氧化钛等化学物质，不够环保</b>，有残留物，不彻底。{/eyou:uitext}</p>
            </li>
            <li > 
            <div class="eyou-edit" e-id="146" e-type="upload"> 
            {eyou:uiupload e-id='146' e-page="index"}
              {$field.value}
              {eyou:else /} 
              <img src="{eyou:global name='web_templets_pc' /}/skin/img/20160531104302_47002.jpg" width="972" height="273" alt="环保对比" />
              {/eyou:uiupload}
            </div>     
              <p class="pleft eyou-edit" e-id="147" e-type="text"> {eyou:uitext e-id='147' e-page="index"}{$field.value}
                {eyou:else /}我们的，<b>采用木炭煅烧贝壳，没有残留物</b>，对环境不造成污染。{/eyou:uitext}</p>
              <p class="pright eyou-edit" e-id="148" e-type="text"> {eyou:uitext e-id='148' e-page="index"}{$field.value}
                {eyou:else /} 同行采用煤煅烧贝壳，<b>成品残留有害物，污染环境</b>。{/eyou:uitext}</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="hd">
        <ul class="menu">
          <li class="eyou-edit" e-id="149" e-type="text"> {eyou:uitext e-id='149' e-page="index"}{$field.value}
            {eyou:else /} 品质对比{/eyou:uitext}</li>
          <li class="eyou-edit" e-id="150" e-type="text"> {eyou:uitext e-id='150' e-page="index"}{$field.value}
            {eyou:else /} 成分对比{/eyou:uitext}</li>
          <li class="eyou-edit" e-id="151" e-type="text"> {eyou:uitext e-id='151' e-page="index"}{$field.value}
            {eyou:else /} 分解能力{/eyou:uitext}</li>
          <li class="eyou-edit" e-id="152" e-type="text"> {eyou:uitext e-id='152' e-page="index"}{$field.value}
            {eyou:else /} 环保对比{/eyou:uitext}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="baozhang container">
  <h3 class="eyou-edit" e-id="153" e-type="text"> {eyou:uitext e-id='153' e-page="index"}{$field.value}
    {eyou:else /}
    贝壳粉生态涂料领航者，<b>合作有保障</b>{/eyou:uitext}</h3>
  <p class="eyou-edit" e-id="154" e-type="text"> {eyou:uitext e-id='154' e-page="index"}{$field.value}
    {eyou:else /}
    我们自有大型工厂，欢迎实地参观考察{/eyou:uitext}</p>
  {eyou:channelartlist typeid='8'}
  <dl>
    <dt> <a href="{eyou:field name='typeurl' /}" target="_blank">
      <p style="text-align: center;">
        <iframe frameborder="0" width="447" height="280" src="{eyou:global name='web_attr_3' /}" allowfullscreen=""></iframe>
      </p>
      </a> </dt>
    <dd>
      <h4><a href="{eyou:field name='typeurl' /}" target="_blank" class="eyou-edit" e-id="1055" e-type="text"> {eyou:uitext e-id='1055' e-page="index"}{$field.value}{eyou:else /}
        {eyou:global name='web_name' /}{/eyou:uitext}</a></h4>
      <p class="eyou-edit" e-id="155" e-type="text"> {eyou:uitext e-id='155' e-page="index"}{$field.value}
        {eyou:else /}{eyou:type addtable='content'}{$field.content|html_msubstr=###,0,235}...{/eyou:type}{/eyou:uitext}</p>
      <a href="{eyou:field name='typeurl' /}" target="_blank" class="btn01">了解更多</a> <a href="http://wpa.qq.com/msgrd?v=3&site={eyou:global name='web_name' /}&menu=yes&uin={eyou:global name='web_attr_2' /}" target="_blank" class="btn02">在线咨询</a> </dd>
  </dl>
  {/eyou:channelartlist}
  <div class="bzBox" id="bzBox">
    <div class="bd eyou-edit" e-id="1550" e-type="arclist" >
     {eyou:uiarclist e-id='1550' typeid='11' e-page="index"}
      <ul>
        {eyou:arclist titlelen='20' }
        <li> <a href="{$field.arcurl}" title="{$field.title}" target="_blank"> <img src="{$field.litpic}" width="238" height="161" alt="{$field.title}" />
          <p>{$field.title}</p>
          </a> </li>
        {/eyou:arclist}
      </ul>
      {/eyou:uiarclist}
    </div>
  </div>
 </div>
<div class="pro eyou-edit" e-id="1551" e-type="arclist"> 
  {eyou:uiarclist e-id='1551' typeid='2' e-page="index"}
  {eyou:channelartlist typeid=''}
  <h3 class="eyou-edit" e-id="156" e-type="text"> {eyou:uitext e-id='156' e-page="index"}{$field.value}
    {eyou:else /}产品系列丰富，销路自然好的不得了{/eyou:uitext}</h3>
  <p class="eyou-edit" e-id="157" e-type="text"> {eyou:uitext e-id='157' e-page="index"}{$field.value}
    {eyou:else /}新一代环保涂—贝壳粉，人见人爱，样样都让你轻松获利{/eyou:uitext}</p>
  <div class="container">
    <div class="proLeft"> 
      {eyou:type typeid=''}
      <h3><a href="{$field.typeurl}">{$field.typename}</a><em>{$field.englist_name}</em></h3>
      {/eyou:type}
      <ul>
        {eyou:channel type="son" row="6" typeid=''}
        <li> <a href="{$field.typeurl}">{$field.typename}</a> </li>
        {/eyou:channel}
      </ul>
      
      <div class="phone eyou-edit" {eyou:ad aid='19'}style="background: url({$field.litpic}) no-repeat center bottom;" e-id="{$field.id}" e-type="adv"{/eyou:ad}>
        <p class="eyou-edit" e-id="158" e-type="text"> {eyou:uitext e-id='158' e-page="index"}{$field.value}
          {eyou:else /}致富热线：<em>{eyou:global name='web_attr_1' /}</em>{/eyou:uitext}</p>
      </div>
    </div>
    <div class="proRight">
      <div class="topmenu">
        <ul>
          <li class="cur first"><a href="{eyou:field name='typeurl' /}" class="products0 eyou-edit" e-id="1581" e-type="text">{eyou:uitext e-id='1581' e-page="index"}{$field.value}
            {eyou:else /} 推荐产品{/eyou:uitext}</a> </li>
          <li class=""><a href="{eyou:field name='typeurl' /}" class="products1 eyou-edit" e-id="1582" e-type="text">{eyou:uitext e-id='1582' e-page="index"}{$field.value}
            {eyou:else /} 最新产品{/eyou:uitext}</a> </li>
        </ul>
       <a href="{eyou:field name='typeurl' /}" class="more productsmor">MORE +</a>
      </div>
      <div class="proBox" >
        <ul>
          {eyou:arclist titlelen='20' row='6' flag='c' }
          <li><a href="{$field.arcurl}" target="_blank" title="{$field.title}"> <img src="{$field.litpic}" width="226" height="226" alt="{$field.title}">
            <p> {$field.title}</p>
            </a></li>
          {/eyou:arclist}
        </ul>
       </div>
      <div class="proBox" style='display: none;'>
        <ul>
          {eyou:arclist titlelen='20' row='6'}
          <li><a href="{$field.arcurl}" target="_blank" title="{$field.title}"> <img src="{$field.litpic}" width="226" height="226" alt="{$field.title}">
            <p> {$field.title}</p>
            </a></li>
          {/eyou:arclist}
        </ul>
      </div>
    </div>
  </div>
  {/eyou:channelartlist}
    {/eyou:uiarclist} 
</div>
<div class="jmys">
  <div class="container jmysBox eyou-edit" {eyou:ad aid='17'}style="background: url({$field.litpic}) no-repeat center top;" e-id="{$field.id}" e-type="adv"{/eyou:ad}>
    <div class="wen01">
      <h4 class="eyou-edit" e-id="159" e-type="text"> {eyou:uitext e-id='159' e-page="index"}{$field.value}
        {eyou:else /}<b>实力雄厚</b>高端品牌{/eyou:uitext}</h4>
      <p class="eyou-edit" e-id="160" e-type="text"> {eyou:uitext e-id='160' e-page="index"}{$field.value}
        {eyou:else /}我们是一家集装饰涂料研发、设计、生产、销售、服务于一体的高端品牌，行业翘楚。{/eyou:uitext}</p>
    </div>
    <div class="wen02">
      <h4 class="eyou-edit" e-id="161" e-type="text"> {eyou:uitext e-id='161' e-page="index"}{$field.value}
        {eyou:else /}<b>专利配方</b>产品市场竞争强{/eyou:uitext}</h4>
      <p class="eyou-edit" e-id="162" e-type="text"> {eyou:uitext e-id='162' e-page="index"}{$field.value}
        {eyou:else /}业内涂料中贝壳粉成分高，长期与中科院、中山大学、华南理工大学、广东海洋大学保持合作关系。{/eyou:uitext}</p>
    </div>
    <div class="wen03">
      <h4 class="eyou-edit" e-id="163" e-type="text"> {eyou:uitext e-id='163' e-page="index"}{$field.value}
        {eyou:else /}<b>施工人员免费培训</b>快速上手{/eyou:uitext}</h4>
      <p class="eyou-edit" e-id="164" e-type="text"> {eyou:uitext e-id='164' e-page="index"}{$field.value}
        {eyou:else /}贝壳粉施工简单，上手快，公司免费提供施工、业务、导购培训，让你最快建立好施工团队。{/eyou:uitext}</p>
    </div>
    <div class="wen04">
      <h4 class="eyou-edit" e-id="165" e-type="text"> {eyou:uitext e-id='165' e-page="index"}{$field.value}
        {eyou:else /}<b>价格有优势</b>利润高，赚钱快{/eyou:uitext}</h4>
      <p class="eyou-edit" e-id="166" e-type="text"> {eyou:uitext e-id='166' e-page="index"}{$field.value}
        {eyou:else /}原材料到成品，自己工厂独立完成，大大降低生产成本，最大程度让利经销商{/eyou:uitext}</p>
    </div>
    <div class="wen05">
      <h4 class="eyou-edit" e-id="167" e-type="text"> {eyou:uitext e-id='167' e-page="index"}{$field.value}
        {eyou:else /}<b>业内最低加盟门槛</b>免加盟费{/eyou:uitext}</h4>
      <p class="eyou-edit" e-id="168" e-type="text"> {eyou:uitext e-id='168' e-page="index"}{$field.value}
        {eyou:else /}加盟我们2万起步，0加盟费。与加盟商共同进退，开拓市场，做长久生意！{/eyou:uitext}</p>
    </div>
    <div class="phone">
      <p class="eyou-edit" e-id="169" e-type="text"> {eyou:uitext e-id='169' e-page="index"}{$field.value}
        {eyou:else /}全国加盟咨询热线：<em>{eyou:global name='web_attr_1' /}</em>{/eyou:uitext}</p>
      <a href="http://wpa.qq.com/msgrd?v=3&site={eyou:global name='web_name' /}&menu=yes&uin={eyou:global name='web_attr_2' /}" target="_blank"></a> </div>
  </div>
</div>
<div class="kongjian eyou-edit" {eyou:ad aid='20'}style="background: url({$field.litpic}) no-repeat center top;" e-id="{$field.id}" e-type="adv"{/eyou:ad}></div>
<div class="koubei container eyou-edit" e-id="1701" e-type="arclist"> 
  {eyou:uiarclist e-id='1701' typeid='4' e-page="index"}
  {eyou:channelartlist typeid=''}
  <h3><a href="{eyou:field name='typeurl' /}" class="eyou-edit" e-id="171" e-type="text"> {eyou:uitext e-id='171' e-page="index"}{$field.value}
    {eyou:else /}事实和口碑胜于一切{/eyou:uitext}</a></h3>
  <p class="eyou-edit" e-id="172" e-type="text"> {eyou:uitext e-id='172' e-page="index"}{$field.value}
    {eyou:else /}他们选择我们，都赚钱了{/eyou:uitext}</p>
  <div class="kbBanner">
    <div class="bd">
      <ul >
        {eyou:arclist titlelen='20' limit='0,3'}
        <li><a href="{$field.arcurl}"> <img src="{$field.litpic}" width="394" height="262" alt="{$field.title}" />
          <div class="wen">
            <h5> {$field.title}<em></em></h5>
            <span></span> </div>
          </a></li>
        {/eyou:arclist}
      </ul>
     </div>
    <div class="hd">
      <div class="btn">{eyou:arclist titlelen='20' limit='0,3'}<span></span>{/eyou:arclist}</div>
    </div>
  </div>
  <div class="kbList" >
    <div class="bd"> {eyou:arclist titlelen='20' limit='3,20' infolen='50'}
      <dl>
        <dt><a href="{$field.arcurl}" title="{$field.title}" target="_blank"> <img src="{$field.litpic}" width="244" height="162" alt="{$field.title}" /></a> </dt>
        <dd>
          <h4> <a href="{$field.arcurl}" title="{$field.title}" target="_blank">{$field.title}</a></h4>
          <p>{$field.seo_description}...</p>
        </dd>
      </dl>
      {/eyou:arclist} </div>
    </div>
    {/eyou:channelartlist}
    {/eyou:uiarclist} 
</div>
<div class="khzs">
<div class="container">

  <div class="kehu eyou-edit" e-id="173" e-type="arclist"> 
  {eyou:uiarclist e-id='173' typeid='3' e-page="index"}
   {eyou:channelartlist typeid=''}
    <h3 > <a href="{eyou:field name='typeurl' /}" class="eyou-edit" e-id="1731" e-type="text"> {eyou:uitext e-id='1731' e-page="index"}{$field.value}
      {eyou:else /}众多客户长期的选择{/eyou:uitext}</a> </h3>
    <ul >
      {eyou:arclist titlelen='20' row='8'}
      <li ><a> <img src="{$field.litpic}" width="156" height="116" alt="{$field.title}" /></a></li>
      {/eyou:arclist}
    </ul>
    {/eyou:channelartlist}
    {/eyou:uiarclist} </div>
  <div class="zhengshu eyou-edit" e-id="1733" e-type="arclist"> 
  {eyou:uiarclist e-id='1733' typeid='5' e-page="index"}
    <div class="zhengshu"> 
    {eyou:channelartlist typeid=''}
      <h3><a href="{eyou:field name='typeurl' /}">{eyou:field name='typename' /}</a></h3>
      <div class="zsBox" id="honerMain">
        <div class="hd" style="display: none;">
          <ul>
            {eyou:arclist row='8'}
            <li></li>
            {/eyou:arclist}
          </ul>
        </div>
        <span class="zsLeft prev" id="zsLeft"></span><span class="zsRight next" id="zsRight"> </span>
        <div class="zsWin">
          <div class="bd">
            <ul>
              {eyou:arclist titlelen='20' row='8'}
              <li><a href="{$field.arcurl}" title="{$field.title}" target="_blank"> <img src="{$field.litpic}" width="216" height="236" alt="{$field.title}">
                <p>{$field.title}</p>
                </a></li>
              {/eyou:arclist}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {/eyou:channelartlist}
    {/eyou:uiarclist} </div>
</div>
</div>
<div class="jmzc eyou-edit" {eyou:ad aid='18'}style="background: url({$field.litpic}) no-repeat center top;" e-id="{$field.id}" e-type="adv"{/eyou:ad}>
  <div class="container jmzcBox">
    <div class="wen01 eyou-edit" e-id="174" e-type="text"> {eyou:uitext e-id='174' e-page="index"}{$field.value}
      {eyou:else /}
      <h5> 丰富的营销活动支持，<b>降低您的投资压力</b></h5>
      <p>我们将协助经销商一起制定详细销售促销或推广计划，不再担心产品销量问题！</p>
      {/eyou:uitext} </div>
    <div class="wen02 eyou-edit" e-id="175" e-type="text"> {eyou:uitext e-id='175' e-page="index"}{$field.value}
      {eyou:else /}
      <h5>营销团队培训，为你打造<b>最强销售精英</b></h5>
      <p>提供销售期间的市场营销辅导，协助完成团队组建支持，提供全年度的销售、施工培训，不断提高经销商团队的销售能力。</p>
      {/eyou:uitext} </div>
    <div class="wen03 eyou-edit" e-id="176" e-type="text"> {eyou:uitext e-id='176' e-page="index"}{$field.value}
      {eyou:else /}
      <h5>开店<b>产品物料支持</b>，开店更便捷</h5>
      <p>协助经销商定制宣传单页、比色卡、矢量图、授权牌匾、色卡、检测报告等，周到更放心！</p>
      {/eyou:uitext} </div>
    <div class="wen04 eyou-edit" e-id="177" e-type="text"> {eyou:uitext e-id='177' e-page="index"}{$field.value}
      {eyou:else /}
      <h5>全面的<b>营销推广支持</b>，让你市场稳步增长</h5>
      <p>在微信公众平台、贴吧、B2B平台等大力推广，区域人员配合加盟商推广如小区宣传活动、家装展会、品牌团购会等。</p>
      {/eyou:uitext} </div>
    <div class="wen05 eyou-edit" e-id="178" e-type="text"> {eyou:uitext e-id='178' e-page="index"}{$field.value}
      {eyou:else /}
      <h5>区域保护支持，<b>保障代理商权益</b></h5>
      <p>实行区域独家代理，全国统一供货价，严厉打击窜货，真正实现平等竞争。</p>
      {/eyou:uitext} </div>
    <div class="wen06 eyou-edit" e-id="179" e-type="text"> {eyou:uitext e-id='179' e-page="index"}{$field.value}
      {eyou:else /}
      <h5>销量越多，可<b>提供返点支持</b></h5>
      <p>加盟商年度提货量达到一定额度，公司给予一定的返点鼓励。</p>
      {/eyou:uitext} </div>
  </div>
</div>
<div class="n_box container">
  <div class="news newslist">
    <div class="title">
      <ul>
        <li class="cur eyou-edit" e-id="188" e-type="arclist"> {eyou:uiarclist e-id='188' typeid='20' e-page="index"} 
          {eyou:type typeid=''} <a href="{$field.typeurl}" class="news0"> {$field.typename}</a> {/eyou:type}
          {/eyou:uiarclist} </li>
        <li class="eyou-edit" e-id="189" e-type="arclist"> {eyou:uiarclist e-id='189' typeid='21' e-page="index"} 
          {eyou:type typeid=''} <a href="{$field.typeurl}" class="news0"> {$field.typename}</a> {/eyou:type}
          {/eyou:uiarclist} </li>
      </ul>
      <a href="javascript:;" class="more newsmor">MORE+</a> </div>
    <div class="newsBox eyou-edit" e-id="190" e-type="arclist"> {eyou:uiarclist e-id='190' typeid='20' e-page="index"}
      {eyou:arclist titlelen='20' row='3' infolen='50'}
      <dl>
        <dt><a href="{$field.arcurl}" title="{$field.title}" target="_blank"> <img src="{$field.litpic}" width="126" height="84" alt="{$field.title}" /></a> </dt>
        <dd>
          <h5> <a href="{$field.arcurl}" title="{$field.title}" target="_blank">{$field.title}</a></h5>
          <p>{$field.seo_description}...</p>
        </dd>
      </dl>
      {/eyou:arclist} 
      {/eyou:uiarclist} </div>
    <div class="newsBox eyou-edit" e-id="191" e-type="arclist" style='display: none;'> {eyou:uiarclist e-id='191' typeid='21' e-page="index"}
      {eyou:arclist titlelen='20' row='3' infolen='50'}
      <dl>
        <dt><a href="{$field.arcurl}" title="{$field.title}" target="_blank"> <img src="{$field.litpic}" width="126" height="84" alt="{$field.title}" /></a> </dt>
        <dd>
          <h5> <a href="{$field.arcurl}" title="{$field.title}" target="_blank">{$field.title}</a></h5>
          <p>{$field.seo_description}...</p>
        </dd>
      </dl>
      {/eyou:arclist} 
      {/eyou:uiarclist} </div>
  </div>
  <div class="wenda eyou-edit" e-id="192" e-type="arclist"> {eyou:uiarclist e-id='192' typeid='22' e-page="index"}
    {eyou:channelartlist typeid=''}
    <div class="title">
      <h3><a href="{eyou:field name='typeurl' /}">{eyou:field name='typename' /}</a></h3>
      <a href="{eyou:field name='typeurl' /}" class="more">MORE+</a> </div>
    <div class="wdBox quetion">
      <div class="bd"> {eyou:arclist titlelen='20' infolen='30'}
        <div class="wdList">
          <h5> <a href="{$field.arcurl}" title="{$field.title}" target="_blank">{$field.title}</a></h5>
          <p> 答：{$field.seo_description}...</p>
        </div>
        {/eyou:arclist} </div>
    </div>
    {/eyou:channelartlist} 
    {/eyou:uiarclist} </div>
</div>
<!--加盟留言-->
<div class="jmly">
  <div class="jmlyLeft">
    <h5 class="eyou-edit" e-id="180" e-type="text"> {eyou:uitext e-id='180' e-page="index"}{$field.value}
      {eyou:else /}我要加盟<em>现在留言，免费获取详细加盟资料</em>{/eyou:uitext}</h5>
    <div class="eyou-edit" e-id="181" e-type="upload"> {eyou:uiupload e-id='181' e-page="index"}
      {$field.value}
      {eyou:else /} <img src="{eyou:global name='web_templets_pc' /}/skin/img/jmly01.jpg" width="441" height="125" /> {/eyou:uiupload} </div>
    <h4 class="eyou-edit" e-id="182" e-type="text"> {eyou:uitext e-id='182' e-page="index"}{$field.value}
      {eyou:else /}现在加入，送4重好礼{/eyou:uitext}</h4>
    <ul class="eyou-edit" e-id="183" e-type="text">
      {eyou:uitext e-id='183' e-page="index"}{$field.value}
      {eyou:else /}
      <li>加盟即送产品</li>
      <li>加盟送调色软件</li>
      <li>加盟送产品物料</li>
      <li>加盟送1000元创业补助</li>
      {/eyou:uitext}
    </ul>
    <h3 class="eyou-edit" e-id="184" e-type="text"> {eyou:uitext e-id='184' e-page="index"}{$field.value}
      {eyou:else /}新型生态绿色环保涂料史无前例！{/eyou:uitext}</h3>
    <p class="eyou-edit" e-id="185" e-type="text"> {eyou:uitext e-id='185' e-page="index"}{$field.value}
      {eyou:else /}主动出击就是成功的第一步！{/eyou:uitext}</p>
  </div>
  <div class="jmlyRight">
    <p class="eyou-edit" e-id="1851" e-type="text"> {eyou:uitext e-id='1851' e-page="index"}{$field.value}
      {eyou:else /}全国免费加盟热线：<b>{eyou:global name='web_attr_1' /}</b>{/eyou:uitext}</p>
    {eyou:guestbookform type='default' typeid='24'}
    <form method="POST" class="guest-form" enctype="multipart/form-data" action="{$field.action}" onsubmit="return checkForm();" name="MsgForm">
      <ul>
        <li>
          <input type="text" placeholder="{$field.itemname_1}：" id="attr_1" name="{$field.attr_1}"/>
          <em>*</em></li>
        <li>
          <input type="text" placeholder="{$field.itemname_2}：" id="attr_2" name="{$field.attr_2}"/>
          <em>*</em></li>
        <li>
          <input type="text" placeholder="{$field.itemname_3}：" id="attr_3" name="{$field.attr_3}">
        </li>
        <li>
          <textarea  id="attr_4" name="{$field.attr_4}" placeholder="{$field.itemname_4}:"></textarea>
        </li>
        <li>
          <input class="btnTjly" name="submit" type="submit" value="立即提交"/>
        </li>
      </ul>
      {$field.hidden}
    </form>
    <script type="text/javascript">
            function checkForm()
            {
              if(document.getElementById('attr_1').value.length == 0)
              {
                alert('请填写{$field.itemname_1}');
                return false;
              }
              if(document.getElementById('attr_2').value.length == 0)
              {
                alert('请填写{$field.itemname_2}');
                return false;
              }
              
              return true;
            }
          </script> 
    {/eyou:guestbookform} </div>
</div>
<!--link-->
<div class="link">
  <div class="container">
    <h3><a>友情链接</a><span>LINKS</span></h3>
    <ul>
      {eyou:flink titlelen='45' type='1'}
      <li><a href="{$field.url}" {$field.target}>{$field.title} </a>
      
      <li>{/eyou:flink}
    </ul>
  </div>
</div>
<!--footer-->
</main>
{eyou:include file="footer.htm" /} 
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/im.js"></script> 
<script src="{eyou:global name='web_templets_pc' /}/skin/js/index.js" type="text/javascript"></script> 
{eyou:ui open='off' /}
</body>
</html>