<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta name="renderer" content="webkit" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{eyou:global name='web_title' /}</title>
<meta name="description" content="{eyou:global name='web_description' /}" />
<meta name="keywords" content="{eyou:global name='web_keywords' /}" />
<link href="{eyou:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href="{eyou:global name='web_templets_pc' /}/skin/css/common.css" rel="stylesheet" type="text/css" />
<link href="{eyou:global name='web_templets_pc' /}/skin/css/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
{eyou:include file="header.htm" /}
<main  e-page="index">
<div id="flashs">
  <div class="bd">
    <div class="banerer"> {eyou:adv pid='1' }
      <div title="{$field.title}" alt="{$field.title}" onclick="window.open('{$field.links}')"  class="bgitem eyou-edit" id="{$key}" style="background: url('{$field.litpic}') no-repeat scroll center top; height: 600px; width: 100%; cursor: pointer; margin: 0 auto;" e-id="{$field.id}" e-type="adv"> </div>
      {/eyou:adv} </div>
  </div>
  <div class="btn hd"> {eyou:adv pid='1' }<span>{$i}</span>{/eyou:adv}</div>
</div>

<!--search-->
<div class="search container">
  <p id="commonHeaderkeywords"> <b>热门关键词：</b>{eyou:arclist row='5' titlelen='30' typeid='2' orderby ='click'} <a href="{$field.typeurl}" title="{$field.title}"> {$field.title} </a> {/eyou:arclist} </p>
  <div class="sBox">
    <form name="search" class="sidebar-search" method="get" action="{eyou:searchurl /}">
      <input type="hidden" name="channel" value="" />
      <input type="hidden" name="typeid" value="" />
      <input type="hidden" name="uiset" value="{$Request.param.uiset}" />
      <input type="hidden" name="v" value="{$Request.param.v}" />
      <input type="text" value="输入关键词查询" id="keywords" name="keywords" onfocus="if(this.value=='输入关键词查询'){this.value=''}"
                                onblur="if(this.value=='')this.value='输入关键词查询'" />
      <a href="javascript:document.search.submit();"></a>
    </form>
  </div>
</div>
<div class="clear"></div>
<div class="baozhang container">
  <h3 class="eyou-edit" e-id="153" e-type="text"> {eyou:uitext e-id='153' e-page="index"}{$field.value}
    {eyou:else /}
    贝壳粉生态涂料领航者，<b>合作有保障</b>{/eyou:uitext}</h3>
  <p class="eyou-edit" e-id="154" e-type="text"> {eyou:uitext e-id='154' e-page="index"}{$field.value}
    {eyou:else /}
    我们自有大型工厂，欢迎实地参观考察{/eyou:uitext}</p>
  {eyou:channelartlist typeid='8'}
  <dl>
    <dt> <a href="{eyou:field name='typeurl' /}" target="_blank">
      <p style="text-align: center;">
        <iframe frameborder="0" width="447" height="280" src="{eyou:global name='web_attr_3' /}" allowfullscreen=""></iframe>
      </p>
      </a> </dt>
    <dd>
      <h4><a href="{eyou:field name='typeurl' /}" target="_blank" class="eyou-edit" e-id="1055" e-type="text"> {eyou:uitext e-id='1055' e-page="index"}{$field.value}{eyou:else /}
        {eyou:global name='web_name' /}{/eyou:uitext}</a></h4>
      <p class="eyou-edit" e-id="155" e-type="text"> {eyou:uitext e-id='155' e-page="index"}{$field.value}
        {eyou:else /}{eyou:type addtable='content'}{$field.content|html_msubstr=###,0,235}...{/eyou:type}{/eyou:uitext}</p>
      <a href="{eyou:field name='typeurl' /}" target="_blank" class="btn01">了解更多</a> <a href="http://wpa.qq.com/msgrd?v=3&site={eyou:global name='web_name' /}&menu=yes&uin={eyou:global name='web_attr_2' /}" target="_blank" class="btn02">在线咨询</a> </dd>
  </dl>
  {/eyou:channelartlist}
  <div class="bzBox" id="bzBox">
    <div class="bd eyou-edit" e-id="1550" e-type="arclist" >
     {eyou:uiarclist e-id='1550' typeid='11' e-page="index"}
      <ul>
        {eyou:arclist titlelen='20' }
        <li> <a href="{$field.arcurl}" title="{$field.title}" target="_blank"> <img src="{$field.litpic}" width="238" height="161" alt="{$field.title}" />
          <p>{$field.title}</p>
          </a> </li>
        {/eyou:arclist}
      </ul>
      {/eyou:uiarclist}
    </div>
  </div>
 </div>
<div class="pro eyou-edit" e-id="1551" e-type="arclist"> 
  {eyou:uiarclist e-id='1551' typeid='2' e-page="index"}
  {eyou:channelartlist typeid=''}
  <h3 class="eyou-edit" e-id="156" e-type="text"> {eyou:uitext e-id='156' e-page="index"}{$field.value}
    {eyou:else /}产品系列丰富，销路自然好的不得了{/eyou:uitext}</h3>
  <p class="eyou-edit" e-id="157" e-type="text"> {eyou:uitext e-id='157' e-page="index"}{$field.value}
    {eyou:else /}新一代环保涂—贝壳粉，人见人爱，样样都让你轻松获利{/eyou:uitext}</p>
  <div class="container">
    <div class="proLeft"> 
      {eyou:type typeid=''}
      <h3><a href="{$field.typeurl}">{$field.typename}</a><em>{$field.englist_name}</em></h3>
      {/eyou:type}
      <ul>
        {eyou:channel type="son" row="6" typeid=''}
        <li style="background: initial;"> <a href="{$field.typeurl}">{$field.typename}</a> </li>
        {/eyou:channel}
      </ul>
      
      <div class="phone eyou-edit" {eyou:ad aid='19'}style="background: url({$field.litpic}) no-repeat center bottom;" e-id="{$field.id}" e-type="adv"{/eyou:ad}>
        <p class="eyou-edit" e-id="158" e-type="text"> {eyou:uitext e-id='158' e-page="index"}{$field.value}
          {eyou:else /}致富热线：<em>{eyou:global name='web_attr_1' /}</em>{/eyou:uitext}</p>
      </div>
    </div>
    <div class="proRight">
      <div class="topmenu">
        <ul>
          <li class="cur first"><a href="{eyou:field name='typeurl' /}" class="products0 eyou-edit" e-id="1581" e-type="text">{eyou:uitext e-id='1581' e-page="index"}{$field.value}
            {eyou:else /} 推荐产品{/eyou:uitext}</a> </li>
          <li class=""><a href="{eyou:field name='typeurl' /}" class="products1 eyou-edit" e-id="1582" e-type="text">{eyou:uitext e-id='1582' e-page="index"}{$field.value}
            {eyou:else /} 最新产品{/eyou:uitext}</a> </li>
        </ul>
       <a href="{eyou:field name='typeurl' /}" class="more productsmor">MORE +</a>
      </div>
      <div class="proBox" >
        <ul>
          {eyou:arclist titlelen='20' row='6' flag='c' }
          <li><a href="{$field.arcurl}" target="_blank" title="{$field.title}"> <img src="{$field.litpic}" width="226" height="226" alt="{$field.title}">
            <p> {$field.title}</p>
            </a></li>
          {/eyou:arclist}
        </ul>
       </div>
      <div class="proBox" style='display: none;'>
        <ul>
          {eyou:arclist titlelen='20' row='6'}
          <li><a href="{$field.arcurl}" target="_blank" title="{$field.title}"> <img src="{$field.litpic}" width="226" height="226" alt="{$field.title}">
            <p> {$field.title}</p>
            </a></li>
          {/eyou:arclist}
        </ul>
      </div>
    </div>
  </div>
  {/eyou:channelartlist}
    {/eyou:uiarclist} 
</div>
<div class="jmys">
  <div class="container jmysBox eyou-edit" {eyou:ad aid='17'}style="background: url({$field.litpic}) no-repeat center top;" e-id="{$field.id}" e-type="adv"{/eyou:ad}>
    <div class="wen01">
      <h4 class="eyou-edit" e-id="159" e-type="text"> {eyou:uitext e-id='159' e-page="index"}{$field.value}
        {eyou:else /}<b>实力雄厚</b>高端品牌{/eyou:uitext}</h4>
      <p class="eyou-edit" e-id="160" e-type="text"> {eyou:uitext e-id='160' e-page="index"}{$field.value}
        {eyou:else /}我们是一家集装饰涂料研发、设计、生产、销售、服务于一体的高端品牌，行业翘楚。{/eyou:uitext}</p>
    </div>
    <div class="wen02">
      <h4 class="eyou-edit" e-id="161" e-type="text"> {eyou:uitext e-id='161' e-page="index"}{$field.value}
        {eyou:else /}<b>专利配方</b>产品市场竞争强{/eyou:uitext}</h4>
      <p class="eyou-edit" e-id="162" e-type="text"> {eyou:uitext e-id='162' e-page="index"}{$field.value}
        {eyou:else /}业内涂料中贝壳粉成分高，长期与中科院、中山大学、华南理工大学、广东海洋大学保持合作关系。{/eyou:uitext}</p>
    </div>
    <div class="wen03">
      <h4 class="eyou-edit" e-id="163" e-type="text"> {eyou:uitext e-id='163' e-page="index"}{$field.value}
        {eyou:else /}<b>施工人员免费培训</b>快速上手{/eyou:uitext}</h4>
      <p class="eyou-edit" e-id="164" e-type="text"> {eyou:uitext e-id='164' e-page="index"}{$field.value}
        {eyou:else /}贝壳粉施工简单，上手快，公司免费提供施工、业务、导购培训，让你最快建立好施工团队。{/eyou:uitext}</p>
    </div>
    <div class="wen04">
      <h4 class="eyou-edit" e-id="165" e-type="text"> {eyou:uitext e-id='165' e-page="index"}{$field.value}
        {eyou:else /}<b>价格有优势</b>利润高，赚钱快{/eyou:uitext}</h4>
      <p class="eyou-edit" e-id="166" e-type="text"> {eyou:uitext e-id='166' e-page="index"}{$field.value}
        {eyou:else /}原材料到成品，自己工厂独立完成，大大降低生产成本，最大程度让利经销商{/eyou:uitext}</p>
    </div>
    <div class="wen05">
      <h4 class="eyou-edit" e-id="167" e-type="text"> {eyou:uitext e-id='167' e-page="index"}{$field.value}
        {eyou:else /}<b>业内最低加盟门槛</b>免加盟费{/eyou:uitext}</h4>
      <p class="eyou-edit" e-id="168" e-type="text"> {eyou:uitext e-id='168' e-page="index"}{$field.value}
        {eyou:else /}加盟我们2万起步，0加盟费。与加盟商共同进退，开拓市场，做长久生意！{/eyou:uitext}</p>
    </div>
    <div class="phone">
      <p class="eyou-edit" e-id="169" e-type="text"> {eyou:uitext e-id='169' e-page="index"}{$field.value}
        {eyou:else /}全国加盟咨询热线：<em>{eyou:global name='web_attr_1' /}</em>{/eyou:uitext}</p>
      <a href="http://wpa.qq.com/msgrd?v=3&site={eyou:global name='web_name' /}&menu=yes&uin={eyou:global name='web_attr_2' /}" target="_blank"></a> </div>
  </div>
</div>
<div class="n_box container">
  <div class="news newslist">
    <div class="title">
      <ul>
        <li class="cur eyou-edit" e-id="188" e-type="arclist"> {eyou:uiarclist e-id='188' typeid='20' e-page="index"} 
          {eyou:type typeid=''} <a href="{$field.typeurl}" class="news0"> {$field.typename}</a> {/eyou:type}
          {/eyou:uiarclist} </li>
        <li class="eyou-edit" e-id="189" e-type="arclist"> {eyou:uiarclist e-id='189' typeid='21' e-page="index"} 
          {eyou:type typeid=''} <a href="{$field.typeurl}" class="news0"> {$field.typename}</a> {/eyou:type}
          {/eyou:uiarclist} </li>
      </ul>
      <a href="javascript:;" class="more newsmor">MORE+</a> </div>
    <div class="newsBox eyou-edit" e-id="190" e-type="arclist"> {eyou:uiarclist e-id='190' typeid='20' e-page="index"}
      {eyou:arclist titlelen='30' row='3' infolen='50'}
      <dl>
        <dt><a href="{$field.arcurl}" title="{$field.title}" target="_blank"> <img src="{$field.litpic}" width="126" height="84" alt="{$field.title}" /></a> </dt>
        <dd>
          <h5> <a href="{$field.arcurl}" title="{$field.title}" target="_blank">{$field.title}</a></h5>
          <p>{$field.seo_description}...</p>
        </dd>
      </dl>
      {/eyou:arclist} 
      {/eyou:uiarclist} </div>
    <div class="newsBox eyou-edit" e-id="191" e-type="arclist" style='display: none;'> {eyou:uiarclist e-id='191' typeid='21' e-page="index"}
      {eyou:arclist titlelen='20' row='3' infolen='50'}
      <dl>
        <dt><a href="{$field.arcurl}" title="{$field.title}" target="_blank"> <img src="{$field.litpic}" width="126" height="84" alt="{$field.title}" /></a> </dt>
        <dd>
          <h5> <a href="{$field.arcurl}" title="{$field.title}" target="_blank">{$field.title}</a></h5>
          <p>{$field.seo_description}...</p>
        </dd>
      </dl>
      {/eyou:arclist} 
      {/eyou:uiarclist} </div>
  </div>
  <div class="wenda eyou-edit" e-id="192" e-type="arclist"> {eyou:uiarclist e-id='192' typeid='22' e-page="index"}
    {eyou:channelartlist typeid=''}
    <div class="title">
      <h3><a href="{eyou:field name='typeurl' /}">{eyou:field name='typename' /}</a></h3>
      <a href="{eyou:field name='typeurl' /}" class="more">MORE+</a> </div>
    <div class="wdBox quetion">
      <div class="bd"> {eyou:arclist titlelen='20' infolen='30'}
        <div class="wdList">
          <h5> <a href="{$field.arcurl}" title="{$field.title}" target="_blank">{$field.title}</a></h5>
          <p> 答：{$field.seo_description}...</p>
        </div>
        {/eyou:arclist} </div>
    </div>
    {/eyou:channelartlist} 
    {/eyou:uiarclist} </div>
</div>
<!--footer-->
</main>
{eyou:include file="footer.htm" /} 
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/im.js"></script> 
<script src="{eyou:global name='web_templets_pc' /}/skin/js/index.js" type="text/javascript"></script> 
{eyou:ui open='off' /}
</body>
</html>