<style>
  .cur {
    color: #fff;
    background: #274f7d;
  }
  .subList .cur {
    color: #274f7d!important;
    background: initial;
  }
  .subList .cur p {
    color: #274f7d!important;
  }
  .subList {
    display: none;
    padding: 10px 0;

  }
  .subList li {
    width: 100%;
    height: 30px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    background-color: initial;
  }
  .subList li a {
    display: block;
    width: 100%;
    height: 30px;
    overflow: hidden;
    line-height: 30px;
    color: #808ea4;
    font-size: 12px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .subList li a p {
    width: 100%;
    color: #999;
    background-color: #fff;
    height: 30px;
    line-height: 30px;
    font-weight: normal;
    padding: 0;
  }
  .subList li a:hover {
    background: initial;
  }
  .subList li a p:hover {
    color: #274f7d;
  }
  .active {
    display: block;
  }
  .er-fl li {
    text-align: initial;
  }
  .er-fl li a {
    padding-left: 20px;
  }
</style>
<div class="n-l">
    <div class="l-b">
      <div class="fl-tit">
        <p>Classification</p>
        {$eyou.field.typeid|gettoptype=###,'typename'}</div>
      <div class="er-fl">
        <ul>
        {eyou:channel type='first' id='field' currentstyle='cur'}
          <li style="position: relative">
            <a href="{$field.typeurl}" class="{$field.currentstyle}" id="{$field.id}">{$field.typename}</a>
            <span class="toggleIcon"></span>
          </li>
          <ul class="subList">
            {eyou:channel name='$field.children' id='field1' currentstyle='cursub'}
            <li>
              <a href="{$field1.typeurl}" class="{$field1.currentstyle}"><p>-  {$field1.typename}</p></a>
            </li>
            {/eyou:channel}
          </ul>
        {/eyou:channel} 
        </ul>
      </div>
    </div>
    <div class="n-lx">
      <div class="n-lx-ico">
        <p></p>
        {eyou:global name='web_attr_2' /}</div>
      <div class="n-lx-wz">
        传真：{eyou:global name='web_attr_57' /}<br>
        手机：{eyou:global name='web_attr_60' /}<br>
        邮箱：{eyou:global name='web_attr_55' /}<br>
        地址：{eyou:global name='web_attr_56' /} </div>
      <div class="n-lx-an"><a href="http://wpa.qq.com/msgrd?v=3&site={eyou:global name="web_name" /}&menu=yes&uin={eyou:global name='web_attr_3' /}" target="_blank">立即咨询</a></div>
    </div>
  </div>