<div class="left" e-page="left">
<div class="leftMu">
  <h4><a href="{$eyou.field.typeid|gettoptype=###,'typeurl'}">{$eyou.field.typeid|gettoptype=###,'typename'}</a></h4>
  <ul>
    {eyou:channel type='first' id='field' currentstyle='cur'}
    <li class="{$field.currentstyle}"><a href="{$field.typeurl}">{$field.typename}</a></li>
    {/eyou:channel}
  </ul>
</div>
<h4 class="t05 eyou-edit" e-id="l1" e-type="text"> {eyou:uitext e-id='l1' e-page="left"}
  {$field.value}
  {eyou:else /}
  相关资讯
  {/eyou:uitext} </h4>
<div class="t05_cons1 eyou-edit" e-id="l2" e-type="arclist"> {eyou:uiarclist e-id='l2' typeid='6' e-page="left"}
  <ul>
    {eyou:arclist titlelen='20' rderby='rand' row='10'}
    <li><a href="{$field.arcurl}" title="{$field.title}"> {$field.title}</a></li>
    {/eyou:arclist}
  </ul>
  <div class="clear"></div>
  {/eyou:uiarclist} </div>
<div class="contactn mt10 mb10 mb10">
    <div class="t05 eyou-edit" e-id="l3" e-type="type" > {eyou:uitype typeid='7' e-id='l3' e-page='left'}
      {eyou:type type='self' empty='缺省文字'}
      <h5> <a href="{$field.typeurl}" class="yan2" target="_blank">{$field.typename}</a></h5>
      {/eyou:type}
      {/eyou:uitype} </div>
    <div class="subnr">
    <div class="eyou-edit" e-id="l4"  e-type="upload">
{eyou:uiupload e-id='l4' e-page='left' id='field'}
{$field.value}
{eyou:else /}
<img src="{eyou:global name='web_templets_pc' /}/skin/img/catactus.jpg" />
{/eyou:uiupload} 
</div>
     <div class="eyou-edit" e-id="l5" e-type="text">
    {eyou:uitext e-id='l5' e-page='left' id='field'}
      {$field.value}
      {eyou:else/}
      <p> <span class="subspan">咨询热线：</span></p>
      <p class="subtel">{eyou:global name='web_attr_1' /}</p>
      <p><span>QQ客服：{eyou:global name='web_attr_2' /}</span></p>
      <p><span>企业邮箱：</span>{eyou:global name='web_attr_8' /}</p>
      <p> <span>地 址：</span>{eyou:global name='web_attr_5' /}</p>
      {/eyou:uitext}
      </div>
       </div>
  </div>
</div>
