<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>{$eyou.field.seo_title}</title>
<meta name="description" content="{$eyou.field.seo_description}" />
<meta name="keywords" content="{$eyou.field.seo_keywords}" />
<link href="{eyou:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href="{eyou:global name='web_templets_pc' /}/skin/css/common.css" rel="stylesheet" type="text/css" />
<link href="{eyou:global name='web_templets_pc' /}/skin/css/style.css" rel="stylesheet" type="text/css" />
<link href="{eyou:global name='web_templets_pc' /}/skin/css/temp.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" rev="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/pshow2.css" type="text/css" />
<link rel="stylesheet" rev="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/base_v4.css" type="text/css" />

<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/ajax.js"></script>
</head>
<body>
<!--header:end-->
{eyou:include file="header.htm" /}
<!--content:start-->
<div class="topadcs"><a style='background:url({eyou:notempty name='$eyou.field.banner' /}{$eyou.field.banner} {eyou:else /}{$eyou.field.typeid|gettoptype=###,'banner'}{/eyou:notempty}) no-repeat center top;' ></a> </div>
<div class="cpMain">
<div class="container">
{eyou:include file="left.htm" /}
<!--nlist-->

<div class="cpright">
  <div class="rtop">
    <h5> <a>{$eyou.field.typename}</a></h5>
    <span> <em>您的位置：</em>{eyou:position style="crumb" /}</span> </div>
  <div class="agent_con">
    <div class="age_li_about">
      {$eyou.field.content}
    </div>
    <div id="helpContent"> </div>
  </div>
</div>
<div class="clear"> </div>
</div>
</div>
<!--content:end--> 
<!--footer:start-->
{eyou:include file="footer.htm" /}
<!--footer:end-->
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery-3.3.1.min.js"></script>
{eyou:ui open='off' /}
</body>
</html>
