<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>{$eyou.field.seo_title}</title>
<meta name="description" content="{$eyou.field.seo_description}" />
<meta name="keywords" content="{$eyou.field.seo_keywords}" />
<link href="{eyou:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href="{eyou:global name='web_templets_pc' /}/skin/css/common.css" rel="stylesheet" type="text/css" />
<link href="{eyou:global name='web_templets_pc' /}/skin/css/style.css" rel="stylesheet" type="text/css" />
<link href="{eyou:global name='web_templets_pc' /}/skin/css/temp.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/1.9.1jquery.min.js"></script>
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/ajax.js"></script>

</head>
<body>
<!--Header:Start--> 

<!--头部开始--> 
<!--header-->
{eyou:include file="header.htm" /}
<!--header--> 
<!--Header:End--> 
<!--Content:Start-->
<div class="topadcs"> <a style='background:url({eyou:notempty name='$eyou.field.banner' /}{$eyou.field.banner} {eyou:else /}{$eyou.field.typeid|gettoptype=###,'banner'}{/eyou:notempty}) no-repeat center top;' ></a> </div>
<div class="cpMain">
  <div class="container">
    {eyou:include file="left.htm" /}
    <div class="cpright">
      <div class="rtop">
        <h5> <a>{$eyou.field.typename}</a> </h5>
        <span> <span><em>您的位置：</em>{eyou:position style="crumb" /}</span> </span> </div>
      <div class="agent_con">
        <div class="help_tab">
          <div class="tjwtBox">
            <h4> 请留下您的问题,我们将尽快与您联系！</h4>
            {eyou:guestbookform type='default'}
            <form method="POST" class="guest-form" enctype="multipart/form-data" action="{$field.action}" onsubmit="return checkForm();">
              <ul class="m_form">
                <li class="clearfix">
                  <label> {$field.itemname_1}：</label>
                  <input name="{$field.attr_1}" type="text" id="attr_1" class="iptTxt" />
                </li>
                <li class="clearfix">
                  <label> {$field.itemname_2}：</label>
                  <input name="{$field.attr_2}" type="text" id="attr_2" class="iptTxt" />
                </li>
                <li class="clearfix">
                  <label> {$field.itemname_3}：</label>
                  <input name="{$field.attr_3}" type="text" id="attr_3" class="iptTxt" />
                </li>
                <li class="areLi clearfix">
                  <label> {$field.itemname_4}：</label>
                  <textarea name="{$field.attr_4}" id="attr_4" class="txtAre" o=""></textarea>
                </li>
                <li class="btnLi">
                  <input type="submit" name="submit"  value="提 交" class="btnSubmit" />
                  <input type="reset" name="reset" class="btnReset" value="重 填" />
                </li>
              </ul>
            {$field.hidden}
          </form>
          <script type="text/javascript">
            function checkForm()
            {
              if(document.getElementById('attr_1').value.length == 0)
              {
                alert('请填写{$field.itemname_1}');
                return false;
              }
              if(document.getElementById('attr_2').value.length == 0)
              {
                alert('请填写{$field.itemname_2}');
                return false;
              }
              
              return true;
            }
          </script>
        {/eyou:guestbookform}
          </div>
        </div>
      </div>
    </div>
    <div class="clear"> </div>
  </div>
</div>
<!--Content:End--> 
{eyou:include file="footer.htm" /}
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/im.js"></script> 
<!--footer--> 
{eyou:ui open='off' /}
</body>
</html>
