<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>{$eyou.field.seo_title}</title>
<meta name="description" content="{$eyou.field.seo_description}" />
<meta name="keywords" content="{$eyou.field.seo_keywords}" />
<link href="{eyou:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href="{eyou:global name='web_templets_pc' /}/skin/css/common.css" rel="stylesheet" type="text/css" />
<link href="{eyou:global name='web_templets_pc' /}/skin/css/style.css" rel="stylesheet" type="text/css" />
<link href="{eyou:global name='web_templets_pc' /}/skin/css/temp.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/1.9.1jquery.min.js"></script>
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/ajax.js"></script>
</head>
<body style="background-color: #fff;">
<!--Header:Start--> 

<!--头部开始--> 
<!--header-->
{eyou:include file="header.htm" /}
<!--header--> 
<!--Header:End--> 
<!--content:start-->
<div class="topadcs"> <a style='background:url({eyou:notempty name='$eyou.field.banner' /}{$eyou.field.banner} {eyou:else /}{$eyou.field.typeid|gettoptype=###,'banner'}{/eyou:notempty}) no-repeat center top;' ></a> </div>
<div class="local"> 您所在的位置：{eyou:position style="crumb" /} </div>
<div class="pinz" e-page="article_news">

  <div class="stragtay1 eyou-edit" e-id="n1" e-type="type">
{eyou:uitype typeid='20' e-id='n1' e-page='article_news'}
{eyou:type type='self' empty='缺省文字'}
    <h3><a href="{$field.typeurl}">{$field.typename}</a><span>{$field.englist_name}</span><em></em></h3>
    {/eyou:type}
{/eyou:uitype}
  </div>
  <div class="newone">
    <div class="newwleft eyou-edit" e-id="n2" e-type="arclist">
    {eyou:uiarclist e-id='n2' typeid='20' e-page="article_news"}
     {eyou:arclist titlelen='20' limit='0,1' infolen='90'}
      <div class="onon">
        <div class="krst">
          <div class="syname"> <a href="{$field.arcurl}" title="{$field.title}">{$field.title}</a></div>
          <p>{$field.seo_description}...</p>
        </div>
        <span class="tpleft"><a href="{$field.arcurl}" title="{$field.title}"> <img src="{$field.litpic}" alt="{$field.title}"> </a></span> </div>
       {/eyou:arclist}       
      <div class="clear"> </div>
      <ul>
      {eyou:arclist titlelen='20' limit='1,7'}
        <li><span class="date">{$field.add_time|MyDate='Y-m-d',###}</span> <a href="{$field.arcurl}" title="{$field.title}">{$field.title}</a> </li>
      {/eyou:arclist}        
      </ul>   
     {/eyou:uiarclist}
    </div>
    
    
    <div class="newwright eyou-edit" e-id="n3" e-type="arclist">
    {eyou:uiarclist e-id='n3' typeid='22' e-page="article_news"}
      {eyou:channelartlist typeid=''}
      <div class="netop">
        <div class="stragtay3">
        <h3><a href="{eyou:field name='typeurl' /}">{eyou:field name='typename' /}</a><span>{eyou:field name='englist_name' /}</span><em></em></h3>
        </div>
        {eyou:arclist titlelen='20' limit='0,1' infolen='40'}
        <div class="no1"> <a href="{$field.arcurl}" title="{$field.title}"> <img src="{$field.litpic}" alt="{$field.title}" width="274" height="141"></a>
          <p> <a href="{$field.arcurl}" title="{$field.title}"> {$field.title}</a></p>
          答：{$field.seo_description}...</div>
        {/eyou:arclist}   
        <ul>
        {eyou:arclist titlelen=='20' limit='1,5'}
          <li><a href="{$field.arcurl}" title="{$field.title}"> {$field.title} </a></li>
        {/eyou:arclist} 
        </ul>
      </div>
       {/eyou:channelartlist}
        {/eyou:uiarclist}
    </div>
    
    <div class="clear"> </div>
  </div>
  <div class="newend eyou-edit" e-id="n3" e-type="arclist">
    {eyou:uiarclist e-id='n3' typeid='21' e-page="article_news"}
  {eyou:channelartlist typeid=''}
  <div class="stragtay5">
    <h3><a href="{eyou:field name='typeurl' /}">{eyou:field name='typename' /}</a><span>{eyou:field name='englist_name' /}</span><em></em></h3>
  </div>
  <div class="ency">
  {eyou:arclist titlelen='20' limit='0,1' infolen='80'}
    <div class="enleft">
      <div class="riqir"> Date<br>
        <span class="dzi"> {$field.add_time|MyDate='d',###}</span><br>
        <span class="xzi"> {$field.add_time|MyDate='Y-m',###}</span> </div>
      <a href="{$field.arcurl}" title="{$field.title}" class="photo"> <img src="{$field.litpic}" alt="{$field.title}" /> </a>
      <div class="enname"> <a href="{$field.arcurl}" title="{$field.title}"> {$field.title}</a></div>
      <p>{$field.seo_description}...</p>
    </div>
    {/eyou:arclist}  
    <div class="hydraulic">
      <ul class="hover">
      {eyou:arclist titlelen='20' limit='1,4' infolen='50'}
        <li>
          <div class="da"> <img src="{eyou:global name='web_templets_pc' /}/skin/img/t{$i}.gif" width="60" height="46" />{$field.add_time|MyDate='Y-m-d',###}</div>
          <div class="baike">
            <div class="baname"> <a href="{$field.arcurl}" title="{$field.title}"> {$field.title} </a> </div>{$field.seo_description}...</div>
        </li>
       {/eyou:arclist}  
      </ul>
    </div>
  </div>
   {/eyou:channelartlist}
   {/eyou:uiarclist}
   </div>
  <!--new_l-->
  
  <div class="clear"> </div>
</div>
<div class="clear"> </div>
<!--content:end--> 
<!--Footer:Start-->
{eyou:include file="footer.htm" /}
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/im.js"></script> 
<!--footer--> 
<script src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.superslide.2.1.1.js" type="text/javascript"></script> 
{eyou:ui open='off' /}
</body>
</html>
