<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>{$eyou.field.seo_title}</title>
<meta name="description" content="{$eyou.field.seo_description}" />
<meta name="keywords" content="{$eyou.field.seo_keywords}" />
<link href="{eyou:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href="{eyou:global name='web_templets_pc' /}/skin/css/common.css" rel="stylesheet" type="text/css" />
<link href="{eyou:global name='web_templets_pc' /}/skin/css/style.css" rel="stylesheet" type="text/css" />
<link href="{eyou:global name='web_templets_pc' /}/skin/css/temp.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" rev="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/pshow2.css" type="text/css" />
<link rel="stylesheet" rev="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/base_v4.css" type="text/css" />
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/ajax.js"></script>
<script  type="text/javascript"></script>
</head>
<body>
<!--header:end--> 
{eyou:include file="header.htm" /} 
<!--content:start-->
<div class="topadcs"> <a style='background:url({eyou:notempty name='$eyou.field.banner' /}{$eyou.field.banner} {eyou:else /}{$eyou.field.typeid|gettoptype=###,'banner'}{/eyou:notempty}) no-repeat center top;' ></a> </div>
<div class="newscont">
  <div class="content">
    <div class="plc2"> 当前位置：{eyou:position style="crumb" /}</div>
    <div class="left2">
      <div class="left2top"> </div>
      <div class="left2_main">
        <div class="n_info_con" id="printableview">
          <h1>{$eyou.field.title}</h1>
          <div class="info_con_tit">
            <div class="n_tit"> <span>文章作者：{$eyou.field.author}</span> <span>浏览次数：<span>{eyou:arcclick /}</span></span><span>发表时间：{$eyou.field.add_time|MyDate='Y-m-d H:i:s',###}</span> </div>
          </div>
          <div id="cntrBody"> {$eyou.field.content}
            <div id="newContent"> </div>
          </div>
          <div class="gduo"> <span>{eyou:prenext get='next' empty='<a>下一篇：暂无</a>'} <a href="{$field.arcurl}" title="{$field.title}"> 下一篇：{$field.title} </a> {/eyou:prenext}</span>{eyou:prenext get='pre' empty='<a>上一篇：暂无</a>'} <a href="{$field.arcurl}" title="{$field.title}"> 上一篇：{$field.title} </a> {/eyou:prenext}</div>
        </div>
      </div>
    
    </div>
    <div class="right2">
      <div class="right2top"> </div>
      <div class="right2_main eyou-edit" e-id="u3" e-type="arclist">
      {eyou:uiarclist e-id='u3' typeid='6' e-page="view_article"}
        <h4 class="t03"> <a>热门文章排行</a></h4>
        <ul class="n_rt_ul">
          {eyou:arclist titlelen='20' row='10' orderby='click'}
          <li><a href="{$field.arcurl}" title="{$field.title}">{$field.title}</a></li>
          {/eyou:arclist}
        </ul>
        <h4 class="t03"> <a>行业动态文章</a></h4>
        <ul class="n_rt_ul" id="cntrLastArticle">
          {eyou:arclist titlelen='20' row='20' orderby='now'}
          <li><a href="{$field.arcurl}" title="{$field.title}">{$field.title}</a></li>
          {/eyou:arclist}
        </ul>
        {/eyou:uiarclist}
      </div>
      <div class="right2bot"> </div>
    </div>
    <div class="clear"> </div>
  </div>
</div>
<!--content:end--> 
<!--footer:start--> 
{eyou:include file="footer.htm" /} 
<!--footer:end--> 
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery-3.3.1.min.js"></script> 
{eyou:ui open='off' /}
</body>
</html>
